include README.rst
include LICENSE
include requirements.txt
recursive-include ckanext/langkattheme *.html *.json *.js *.less *.css *.mo *.yml
recursive-include ckanext/langkattheme/migration *.ini *.py *.mako
