{% ckan_extends %}

{% block meta %}
    {{ super() }}
    <link rel="shortcut icon" href="/favicon/favicon.ico" />
    <link rel="icon" type="image/png" sizes="512x512" href="/favicon/android-chrome-512x512.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/favicon/android-chrome-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
    <link rel="manifest" href="/favicon/site.webmanifest">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
{% endblock %}

{% block styles %}
    {{ super() }}

    {# Import langkattheme.css using Webassets. 'langkattheme/' is
    the name that the langkattheme/webassets directory was registered
    with when the toolkit.add_resource() function was called.
    'langkattheme' is the name to the Webassets bundle file,
    registered inside webassets.yml file. #}
    {% asset 'langkattheme/langkattheme-css' %}

    <!-- Asset langkattheme-css should be above here -->

{% endblock %}

{%- block scripts %}
    {{ super() }}

    {% asset 'langkattheme/langkattheme-js' %}

    {%- block subscripts %}

    {% endblock -%}
{% endblock -%}