<div role="main" class="hero">
    <div class="container">
        <div class="hero-content">
            {% snippet 'home/snippets/banner.html' %}
        </div>
    </div>
</div>

{% block search %} {% snippet 'home/snippets/search_floating.html' %} {% endblock %}

<div role="main">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="ps-box">
                    <div class="ps-box-title">
                        <h3>Topik Data</h3>
                    </div>
                    <div class="ps-box-content">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="psmenu psmenu-grid">
                                    {% for group in h.langkattheme_group_list() %}
                                    {% set type = group.type or 'group' %}
                                    {% set url = h.url_for(type ~ '.read', id=group.name) %}
                                    <a class="psmenu-item-card topic-card"
                                       href="{{ url }}"
                                       title="{{ _('Lihat {name}').format(name=group.display_name) }}"
                                       style="--topic-bg: url('{{ group.image_display_url or h.url_for_static('/base/images/placeholder-group.png') }}');">
                                        <div class="topic-text">
                                            {{ group.display_name }}
                                        </div>
                                        <!-- gambar dihilangkan, diganti background via CSS -->
                                    </a>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <div class="ps-box-full ps-box-full-light">
    <div class="container">
        <div class="col-md-12">
            <div class="ps-box">
                <div class="ps-box-title">
                    <h3>Visualisasi Data</h3>
                </div>
                <div class="ps-box-content" style="min-height: 250px;">
                    <div class="psvisualization">
                        {% autoescape false %}
                            {{ h.langkattheme_get_visualization() | replace("{_URL_STATIC_IMAGE_}", h.url_for('/images/')) }}
                        {% endautoescape %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->