{% set tags = h.get_facet_items_dict('tags', c.search_facets, limit=3) %}
{% set placeholder = _('Cari dataset') %}
{% set site_title = g.site_title %}
{% set stats = h.get_site_statistics() %}

<div class="module module-search module-narrow module-shallow box">
    <form class="module-content search-form" method="get" action="{% url_for 'dataset.search' %}">
        <div class="search-welcome">
            <img src="/images/welcome.png" />
        </div>
        <h3 class="heading"><strong>Di {{ site_title }}</strong></h3>
        <h5 class="subheading">
            <a href="{{ h.url_for('dataset.search') }}">
                <strong>{{ h.SI_number_span(stats.dataset_count) }}</strong>
                {{ _('dataset') if stats.dataset_count == 1 else _('datasets') }}
            </a>
            <a href="{{ h.url_for(controller='organization', action='index') }}">
                <strong>{{ h.SI_number_span(stats.organization_count) }}</strong>
                {{ _("Instansi") }}
            </a>
        </h5>
        <div class="search-container">
            <div class="search-input form-group search-giant">
                <input aria-label="{% block header_site_search_label %}{{ _('Search datasets') }}{% endblock %}"
                    id="field-main-search" type="text" class="form-control" name="q" value="" autocomplete="off"
                    placeholder="{% block search_placeholder %}{{ placeholder }}{% endblock %}" />
            </div>
            <button type="submit" aria-labelledby="search-label">
                <i class="fa fa-search"></i>
                <span class="sr-only" id="search-label">{{ _('Search') }}</span>
            </button>
        </div>
    </form>
    <!-- <div class="tags">
    <h3>{{ _('Popular tags') }}</h3>
    {% for tag in tags %}
      <a class="tag" href="{% url_for 'dataset.search', tags=tag.name %}">{{ h.truncate(tag.display_name, 22) }}</a>
    {% endfor %}
  </div> -->
</div>